#top_names {
	width: 100%;
	height: 100vh;
	background-color: #dadada;
	align-items: stretch;
}

#top_names .male {
    fill: var(--male);
    stroke: var(--male);
    color: var(--male);
}

#top_names .female {
    fill: var(--female);
    stroke: var(--female);
    color: var(--female);
}

#top_names text {
    text-anchor: middle;
    font-size: 0.75em;
}

#top_names article {
	flex: 1 0;
}

#top_names figure {
	flex: 3 0;
	height: 100%;
	width: 100%;
}