.story {
	margin: auto;
	display: flex;
	flex-direction: column;

	max-width: 1024px;
	min-width: 450px;
	width: 100%;

	min-height: 100vh;
}

.story h4 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1em;
}

.story p {
	padding: 0 5px 10px 5px;
}

.story text {
	fill: var(--main-text);
}