.frequency-comparison {
	flex-direction: column;
	position: relative;
}

.frequency-comparison text {
	font-size: 10px;
	font-weight: bold;
	fill: var(--main-text);

	text-anchor: middle;
	alignment-baseline: middle;
}


.frequency-comparison .description {
	min-height: 100vh;
}

.frequency-comparison .node {
	cursor: pointer;
}

.frequency-comparison .viz {
	position: sticky;
	top: 0;
	left: 0;
}

.frequency-comparison .female text {
	fill-opacity: 0.4;
	transform: rotate(180deg) translate(0, 1em);
}

.frequency-comparison .male text {
	fill-opacity: 0.7;
}

.frequency-comparison .Real text{
	fill: var(--real);
	stroke: var(--real);
}

.frequency-comparison .Cinema text {
	fill: var(--cinema);
	stroke: var(--cinema);
}

.frequency-comparison .axis rect {
	fill: var(--background);
	stroke: none;
}

.frequency-comparison .axis line {
	fill: none;
	stroke: var(--cinema);
}

.frequency-comparison .axis text {
	pointer-events: none;
}

.frequency-comparison button {
	padding: 2px 10px;
	background: var(--background);
	border: 1px solid var(--main-text);
	color: var(--main-text);
	cursor: pointer;
	pointer-events: all;
}

.frequency-comparison button.active {
	background-color: var(--main-text);
	color: var(--background);
}

