.frequency-comparison {}

.frequency-comparison .node {
	cursor: pointer;
	fill-opacity: 0.5;
	font-size: 10px;
}

.frequency-comparison .female {
	fill: #CD2C6B;
	stroke: #CD2C6B;
}

.frequency-comparison .male {
	fill: #3FA3BA;
	stroke: #3FA3BA;
}

.frequency-comparison .Real {
	fill: grey;
	stroke: grey;
}

.frequency-comparison .Cinema {
	fill: orange;
	stroke: orange;
}