header {
	background-color: #fccf31;
	background-image: linear-gradient(141deg, #fccf31 0%, #f55555 100%);
	color: var(--bright-text);
}

header {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

	color: white;
}

header * {
	text-align: center;
}

header h1 {
	font-size: 4em;
}

header p.description {
	padding: 20px 10%;
	font-size:  1.5em;
}

header a {
	font-weight: bold;
	color: val(--background);
}