footer {
	width: 100%;
	background-color: #fccf31;
	background-image: linear-gradient(141deg, #fccf31 0%, #f55555 100%);
}

footer .content {
	max-width: 1024px;
	margin: auto;
	padding: 1em 2em;

	color: var(--background);
	font-size: 0.75em;
}

footer .content p {
	padding-bottom: 1em;
}

footer h4 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 1em;
}

footer a {
	color: black;
	font-size: bold;
}