.top-by-decades {  }

.top-by-decades .male {
	fill: #8CBEC7;
	stroke: #8CBEC7;
}

.top-by-decades .female {
	fill: #E1729D;
	stroke: #E1729D;
}

.top-by-decades .link {
	stroke-linecap: round;
	stroke-width: 3px; 
	opacity: 0.5;
}

.top-by-decades .item path { 
	stroke: white;
	stroke-width: 3px;
}

.top-by-decades .item text {
	text-anchor: middle;
}

.top-by-decades .decade-switch {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.top-by-decades .decade-switch button {
	border: none;
	box-shadow: none;
	background: white;
	font-size: 2em;
	color: #999;
	cursor: pointer;
	pointer-events: all;
}

.top-by-decades .decade-switch button:disabled {
	color: white;
}

.top-by-decades .decade-switch span {
	font-size: 2em;
	padding: 10px;
}