.top-by-decades {  }

.top-by-decades .male {
	fill: var(--male);
	stroke: var(--male);
}

.top-by-decades .female {
	fill: var(--female);
	stroke: var(--female);
}

.top-by-decades .link {
	stroke-linecap: round;
	stroke-width: 3px; 
	opacity: 0.5;
}

.top-by-decades .item path { 
	stroke: var(--background);
	stroke-width: 3px;
}

.top-by-decades .item text {
	fill: var(--background);
	text-anchor: middle;
}

.top-by-decades .decade-switch {
	font-family: 'Monoton', 'Roboto', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: var(--bright-text);
}

.top-by-decades .decade-switch button {
	border: none;
	box-shadow: none;
	background: var(--background);
	color: var(--main-text);
	font-size: 2em;
	cursor: pointer;
	pointer-events: all;
}

.top-by-decades .decade-switch button:disabled {
	color: var(--background);
}

.top-by-decades .decade-switch span {
	font-size: 2em;
	padding: 10px;
}

.top-by-decades .axis text {
	text-transform: uppercase;
	font-size: 0.75em;
	fill: var(--main-text);
}

.top-by-decades .axis .real {
	text-anchor: end;
}

.top-by-decades .axis .cinema {
	text-anchor: start;
}