.genres-triangle {}

.genres-triangle circle {
 	stroke: 1px;
 	fill-opacity: 0.3;
}

.genres-triangle .male {
 	color: var(--male);
 	stroke: var(--male);
 	fill: var(--male);
}

.genres-triangle .female {
 	color: var(--female);
 	stroke: var(--female);
 	fill: var(--female);
}

.genres-triangle .muted {
 	stroke: var(--muted);
 	fill: var(--muted);
}

.genres-triangle .axis path {
	fill: none;
	stroke: #aaa;
	pointer-events: none;
}

.genres-triangle .axis .label {
	font-size: 0.8em;
	font-weight: bold;
	text-anchor: middle;
}

.genres-triangle .tooltip {
	display: block;
	position: absolute;
	z-index: 10;
	
	padding: 10px 5px;
	border: 1px solid var(--main-text);
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.genres-triangle .tooltip p {
	padding: 0;
}

.genres-triangle .tooltip p.name {
	font-weight: bold;
}

.genres-triangle .tooltip p.total {
	font-size: 0.75em;
}

.genres-triangle .search {
	pointer-events: all;
	padding: 5px 10px;
	border-radius: 3px;
	border: solid 1px var(--main-text);
	color: var(--main-text);
	background: var(--background);
}