.genres-triangle {}

.genres-triangle circle {
 	stroke: 1px;
 	fill-opacity: 0.3;
}

.genres-triangle .male {
 	color: #3FA3BA;
 	stroke: #3FA3BA;
 	fill: #8CBEC7;
}

.genres-triangle .female {
 	color: #CD2C6B;
 	stroke: #CD2C6B;
 	fill: #E1729D;
}

.genres-triangle .muted {
 	stroke: #878787;
 	fill: #B0B0B0;
}

.genres-triangle .axis path {
	fill: none;
	stroke: #aaa;
	pointer-events: none;
}

.genres-triangle .axis .label {
	font-size: 0.8em;
	font-weight: bold;
	text-anchor: middle;
}

.genres-triangle .tooltip {
	display: block;
	position: absolute;
	z-index: 10;
	
	padding: 10px 5px;
	border: 1px solid #dadada;
	background: rgba(255, 255, 255, 0.75);
	text-align: center;
}

.genres-triangle .tooltip p {
	padding: 0;
}

.genres-triangle .tooltip p.name {
	font-weight: bold;
}

.genres-triangle .tooltip p.total {
	font-size: 0.75em;
}
