.top-by-genre {
	flex-direction: column;
}

.top-by-genre .description {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	min-height: 150px;
	height: 20vh;
}

.top-by-genre .description div {
	min-width: 20%;
	padding: 5px 10px;
}

.top-by-genre text {
	font-size: 0.75em;
	text-anchor: middle;
}

.top-by-genre .female {
	fill: var(--female);
	stroke: var(--female);
	opacity: 1;
}

.top-by-genre .male {
	fill: var(--male);
	stroke: var(--male);
	opacity: 1;
}

.top-by-genre .muted {
	fill: #B0B0B0;
	stroke: #878787;
}

.top-by-genre .header text {
	font-weight: bold;
	pointer-events: none;
}


.top-by-genre .item text {
	stroke: none;
	fill: #fff;
	pointer-events: none;
}

.top-by-genre rect {
	cursor: pointer;
}

.top-by-genre button {
	padding: 2px 10px;
	color: var(--main-text);
	background: var(--background);
	border: 1px solid var(--main-text);
	cursor: pointer;
	pointer-events: all;
}

.top-by-genre button.active {
	background-color: var(--main-text);
	color: var(--background);
}

